/* Ajustar el tamaño y posición del icono */
.icon img {
    width: 24px;
    height: 24px;
    vertical-align: middle;
  }
  
  /* Alinear los enlaces con el icono */
  nav a {
    display: block;
    margin-bottom: 5px;
    text-decoration: none;
  }
  
  /* Espacio entre el icono y el texto */
  nav .icon {
    padding-left: 5px;
    left: 5px;
  }